/* БАЗОВЫЕ НАСТРОЙКИ  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    padding: 0 135px 0 139px;
}
nav:hover{
    background-color: rgb(152, 166, 180);
    transition: 0.5s;
    color: black;
    height: 80px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    position: relative;
}
nav ul li:hover a{
    color: black;
    transition: 1.1s;
}
header{
    width: 100%;
    height: 900px;
    background: url("https://ru.louisvuitton.com/images/is/image/WOMEN_EDITORIALISATION_OCTOBRE_031_LVCOM_2048x1152_DI3.jpg?wid=2400") center / cover;
    position: relative;
    display: block;
    object-fit: cover;
}

.flex ul li{
    float: left;
}
.flex ul li a{
    margin: 25px 0 0 0;
    font-size: 20px;
    color: white;
    list-style-type: none;
    display: block;
}
/* ЛОГОТИП */
.logo h1{
    display: flex;
    color: white;
    font-weight: 300;
    font-size: 35px;
    margin-top: 5px;
}
/*ГОРИЗОНТАЛЬНОЕ МЕНЮ*/
.menu ul{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.menu li{
    margin: 12px 17px;
}
/* ЗАГОЛОВОК */
 h2,h3{
    width: 60%;
    top: 20%;
    left: 20%;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h4{
    width: 60%;
    top: 54%;
    left: 20%;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
/*МЕНЮ НИЖЕ ЗАГОЛОВКА*/
.header_lower {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    margin: 500px 680px;
    border-radius: 30px;
    background-color: rgba(25,17,11,.2);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
}
.header_lower a{
    color: white;
    font-size: 13px;
    padding: 10px 30px 10px 30px;
}
.header_lower a:hover{
    color: rgb(152, 166, 180);
}
/*КНОПКА РЕГЕСТРАЦИИ И МЕСТО НАШЕГО РАСПОЛОЖЕНИЯ*/
.registration li {
    list-style-type: none;
}
.registration ul li a{
    padding: 0 6px;
    margin: 10px 0 0 0;
}
@media screen and (max-width: 1200px)
{ nav {
    height: 300px;
    top: -30px;
    /*width: auto;*/
    }
}

@media screen and (max-width: 900px)
{ header {
    height: 500px;
    }
}

@media screen and (max-width: 700px)
{ header{
    height: 400px;
    }
}

@media screen and (max-width: 500px)
{ header{
    height: 500px;
    }
}

@media screen and (max-width: 300px)
{ header{
    height: 200px;
    }
}