@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
a:hover{
    color: rgba(78, 72, 88, 0.933);
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(30, 16, 224, 0.879), rgba(132, 79, 173, 0.66)), url('https://ru.louisvuitton.com/images/is/image/HP_Services_Push_Art_Of_Gifting_DI3.jpg?wid=2400');
    background-repeat: no-repeat;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 0px 120px;
    /* justify-content: center; */
}

.form_se{
    background: white;
    width: 400px;
    padding: 5px;
    border-radius: 25px;
    float: right;
}
form{
    width: 80%;
    margin: auto; 
}
input{
    width: 90%;
    height: 35px;
    padding-left: 15px;
    padding-right: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(124, 124, 124, 0.512);
    color: black;
    transition: 1s;
}
.btn{
    width: 100%;
}

button{
    padding: 10px 45px 10px 45px;
    background-color: rgba(25, 17, 11, 0.6);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
button:hover{
    color: rgb(152, 166, 180);
}

/* .registration_information {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 250px;
}
.registration_information_body {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.registration_information_title {
    font-size: 15px;
    letter-spacing: 25px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
}
.registration_information_text {
    color: white;
    font-size: 12px;
    padding: 10px 30px 10px 30px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
} */